.flex-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.flex-item{
    width:320px;
    text-align: center;
    align-self: stretch;
    box-shadow: 5px 5px grey;
    border: 1px solid grey;
}
h3{
    font-weight: bolder;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 5px 0px 5px;
}
p{
    text-align: left;
    padding-left: 6px;
}
img{
    object-fit: contain;
    background-color: lemonchiffon;
}
input[type="button"]{
    margin:3px 3px 9px 3px;
    padding: 10px 10px 10px 10px;
    background-color: lavender;
    cursor:pointer;
}