.one{
    display:flex;
}
.one div{
    padding: 10px;
    flex-grow: 1;
    font-size: larger;
    margin: 3px;
    border-radius: 5px;
    color: blanchedalmond;
    background-color: red;
}
div.l1{
    display:flex;
    padding: 0px;
}
.l1 div{
    flex-grow: 1;
    background-color: black;
}